RewriteEngine On
RewriteBase /tiendita/
Options -Indexes
RewriteRule (^|/)\.git - [F,L]
RewriteRule (^|/)\.env - [F,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
